<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diagrams On Web</title>
    <meta name="description" content="Build Diagram from code in your browser." />
    <meta name="keywords" content="Diagrams web" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        img {
          margin-bottom: 0px;
          width: 100%;
          height: auto;
          position: relative;
          z-index: -10;
        }
        #container {
          min-height: 100vh;
        }
        pre {
          white-space: pre-wrap;
        }
        .gutter {
            background-color: black;
            background-repeat: no-repeat;
            background-position: 50%;
        }
        .gutter.gutter-horizontal {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
            cursor: col-resize;
        }
        body {
          overflow: hidden;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/split.js@1.6.5/dist/split.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/panzoom@9.4.3/dist/panzoom.min.js"></script>
    <!-- Monaco Loader must be the last one !-->
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.33.0/min/vs/loader.js"></script>
  </head>
  <body class="m-0 p-0 w-100 d-flex flex-row">
    <wc-monaco-editor id="container" language="python" ></wc-monaco-editor>
    <div id="graph" class="d-flex flex-column h-100">
      <div class="d-flex">
        <div class="btn btn-primary ml-1 my-1" value="Build" id="build">Build</div>
        <div class="btn btn-secondary ml-1 my-1" id="btn_0">Example 1</div>
        <div class="btn btn-secondary ml-1 my-1" id="btn_1">Example 2</div>
        <div class="btn btn-secondary ml-1 my-1" id="btn_2">Example 3</div>
        <div class="btn btn-secondary ml-1 my-1" id="btn_more">More</div>
      </div>
      <pre class="px-1" id="error"></pre>
      <img id="image" alt="">
    </div>
    <script id="text_0" type="bogus">
      from diagrams import Diagram
from diagrams.aws.compute import EC2
from diagrams.aws.database import RDS
from diagrams.aws.network import ELB

with Diagram("Grouped Workers", show=False, direction="TB", outformat="svg", embed=True):
    ELB("lb") >> [EC2("worker1"),
                  EC2("worker2"),
                  EC2("worker3"),
                  EC2("worker4"),
                  EC2("worker5")] >> RDS("events")
    </script>
    <script id="text_1" type="bogus">
      from diagrams import Cluster, Diagram
from diagrams.gcp.analytics import BigQuery, Dataflow, PubSub
from diagrams.gcp.compute import AppEngine, Functions
from diagrams.gcp.database import BigTable
from diagrams.gcp.iot import IotCore
from diagrams.gcp.storage import GCS

with Diagram("Message Collecting", show=False, outformat="svg", embed=True):
    pubsub = PubSub("pubsub")

    with Cluster("Source of Data"):
        [IotCore("core1"),
         IotCore("core2"),
         IotCore("core3")] >> pubsub

    with Cluster("Targets"):
        with Cluster("Data Flow"):
            flow = Dataflow("data flow")

        with Cluster("Data Lake"):
            flow >> [BigQuery("bq"),
                     GCS("storage")]

        with Cluster("Event Driven"):
            with Cluster("Processing"):
                flow >> AppEngine("engine") >> BigTable("bigtable")

            with Cluster("Serverless"):
                flow >> Functions("func") >> AppEngine("appengine")

    pubsub >> flow
    </script>
    <script id="text_2" type="bogus">
      from diagrams import Cluster, Diagram
from diagrams.onprem.analytics import Spark
from diagrams.onprem.compute import Server
from diagrams.onprem.database import PostgreSQL
from diagrams.onprem.inmemory import Redis
from diagrams.onprem.aggregator import Fluentd
from diagrams.onprem.monitoring import Grafana, Prometheus
from diagrams.onprem.network import Nginx
from diagrams.onprem.queue import Kafka

with Diagram("Advanced Web Service with On-Premise", show=False, outformat="svg", embed=True):
    ingress = Nginx("ingress")

    metrics = Prometheus("metric")
    metrics << Grafana("monitoring")

    with Cluster("Service Cluster"):
        grpcsvc = [
            Server("grpc1"),
            Server("grpc2"),
            Server("grpc3")]

    with Cluster("Sessions HA"):
        primary = Redis("session")
        primary - Redis("replica") << metrics
        grpcsvc >> primary

    with Cluster("Database HA"):
        primary = PostgreSQL("users")
        primary - PostgreSQL("replica") << metrics
        grpcsvc >> primary

    aggregator = Fluentd("logging")
    aggregator >> Kafka("stream") >> Spark("analytics")

    ingress >> grpcsvc >> aggregator
    </script>
    <script>
      window.Split(['#container', '#graph']);
      require.config({ paths: { 'vs': 'https://cdn.jsdelivr.net/npm/monaco-editor@0.33.0/min/vs' }});
      window.MonacoEnvironment = { getWorkerUrl: () => URL.createObjectURL(new Blob([`
        self.MonacoEnvironment = {
          baseUrl: 'https://cdn.jsdelivr.net/npm/monaco-editor@0.33.0/min'
        };
        importScripts('https://cdn.jsdelivr.net/npm/monaco-editor@0.33.0/min/vs/base/worker/workerMain.js');
      `], { type: 'text/javascript' })) };

      error = document.getElementById('error');
      image = document.getElementById('image');
      container = document.getElementById('container');
      
      require(["vs/editor/editor.main"], function () {
        function build() {
          diagrams_data = editor.getValue()
          var xhr = new XMLHttpRequest();
          xhr.open("POST", '/', true);
          xhr.onreadystatechange = function() {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
              if (xhr.responseText && xhr.responseText.startsWith('/static')) {
                image.src = xhr.responseText;
                panzoom(image, {bounds: true});
                error.innerHTML = '';
              } else {
                image.src = '';
                error.innerHTML = xhr.responseText;
              }
            }
          }
          xhr.send(diagrams_data);
        }

        let editor = monaco.editor.create(container, {
          value: document.getElementById('text_0').innerHTML.trim(),
          language: 'python',
          theme: 'vs-dark',
          automaticLayout: true
        });
        build();

        document.getElementById('build').onclick = build;
        document.getElementById('btn_0').onclick = function(){
          editor.setValue(document.getElementById('text_0').innerHTML.trim());
          build();
        }
        document.getElementById('btn_1').onclick = function(){
          editor.setValue(document.getElementById('text_1').innerHTML.trim());
          build();
        }
        document.getElementById('btn_2').onclick = function(){
          editor.setValue(document.getElementById('text_2').innerHTML.trim());
          build();
        }
        document.getElementById('btn_more').onclick = function(){
          window.open("https://diagrams.mingrammer.com/docs/getting-started/examples", "_blank");
        };
      });
    </script>

  </body>
</html>